nav {
  position: fixed;
  z-index: 1;
  background: linear-gradient(90deg, #fff 50%, #007 50%);
  width: 100%;
  padding-block: 1rem;
}

.innerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.innerNav > a {
  text-decoration: none;
}
.logoSide {
  color: black;
  text-decoration: none;
  display: flex;
  gap: 15px;
  align-items: center;
}

.logoSide > img {
  width: 100px;
}

.logoSide > h2 {
  width: 200px;
  margin-left: -2rem;
  font-size: 15px;
}

.heroBtn {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 0.7rem 2rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

/* responsive code for Nav bar */
@media (min-width: 320px) and (max-width: 460px) {
  nav {
    padding-block: 0.6rem;
    background: #007;
  }

  .logoSide {
    gap: 1.3rem;
  }

  .logoSide > img {
    width: 70px;
  }

  .logoSide > h2 {
    font-size: 10px;
    width: 100px;
    color: #fff;
  }

  .heroBtn {
    padding: 0.3rem 0.8rem;
    font-size: 12px;
    margin-right: 0.5rem;
  }
}

/* styling for hero section */
.secOne {
  display: grid;
  background: linear-gradient(90deg, #fff 50%, #007 50%);
  /* height: 100vh; */
  padding-block: 12rem;
}

.heroWrapper {
  width: 100%;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  height: 70vh;
}

.leftSide > h1 {
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
  width: 400px;
  margin: 1.5rem auto;
}

.leftSide > h1 > span {
  border-bottom: 5px solid yellow;
  text-transform: uppercase;
}
.leftSide > p {
  text-align: center;
  width: 520px;
  font-size: 18px;
}
.leftSide > h5 {
  text-align: center;
}

.bgImg {
  width: 100%;
  height: 55vh;
  margin-bottom: 1.5rem;
}

.bgImg > img {
  transform: rotate(8deg);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bgImg > img:hover {
  transform: rotate(0deg);
  box-shadow: 0.1rem 0.1rem 10px #ffb372;
}

.bgContent {
  border-left: 3px solid #ffb372;
  padding-inline: 1rem;
}
.bgContent > p {
  color: #fff;
}

@media (min-width: 320px) and (max-width: 460px) {
  .secOne {
    background: #f6f6f6;
    padding-block: 3rem;
    margin-bottom: 28rem;
  }

  .heroWrapper {
    gap: 2rem;
    flex-direction: column;
    width: calc(100% - 30px);
  }

  .leftSide > h1 {
    width: 100%;
  }

  .leftSide > p {
    width: 100%;
    text-align: justify;
  }

  .leftSide > h5 {
    margin-top: 1rem;
  }

  .bgImg {
    height: 30vh;
  }

  .bgImg > img {
    transform: rotate(0deg);
  }

  .bgContent > p {
    color: #000;
  }
}

/* About styling */
.aboutWrapper {
  padding-block: 3rem;
}

.aboutWrapper > h1 {
  color: #263b5c;
  font-size: 1.6rem;
  text-transform: capitalize;
  text-align: center;
}

.aboutWrapper > h1 > span {
  border: 3px solid #ffb372;
}

.aboutWrapper > p {
  font-size: 15px;
  width: 800px;
  margin: 1rem auto;
  text-align: center;
}

/* responsiveness styling for about section */
@media (min-width: 320px) and (max-width: 460px) {
  .aboutWrapper > h1 {
    font-size: 2rem;
  }

  .aboutWrapper > p {
    width: calc(100% - 30px);
    font-size: 1.1rem;
    text-align: justify;
  }

}

/* contact styling */
.secThree {
  margin-top: 8rem;
  padding-block: 3rem;
  background-color: #f6f6f6;
}
.contactWrapper {
  display: flex;
  align-items: center;
}

.formContact {
  flex: 1;
}

.formContact > h3 {
  text-transform: capitalize;
  color: #263b5c;
}

.formContact > h1 {
  font-size: 1.7rem;
  width: 300px;
}

.formContact > p {
  width: 500px;
  margin-top: 2rem;
}

.formIcons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: 1.5rem;
}

.info {
  margin-block: 2rem;
}

.infoContent {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
  align-items: center;
}

.infoContent > span {
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem #000;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social > h5 {
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-bottom: -1rem;
}

.formIcons > span {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.formIcons > span:nth-child(1) {
  background-color: #000;
}

.formIcons > span:nth-child(2) {
  background-color: #5366c2;
}

.formIcons > span:nth-child(3) {
  background-color: #fcad30;
}

.formIcons > span:nth-child(4) {
  background-color: #4ecd99;
}

.contactForm {
  flex: 1;
  margin-top: 1.5rem;
}

.formInputGroup {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 25px;
}

.formInput {
  width: 100%;
  border-bottom: 2px solid grey;
}

.formInput > input,
.formInput > select {
  border: none;
  outline: none;
  width: 100%;
  padding-block: 0.6rem;
  background-color: transparent;
}

.textField {
  height: 20vh;
  width: 100%;
  border-bottom: 2px solid;
}
.textField > textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.btn {
  padding: 0.5rem 2rem;
  margin-block: 2rem;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  background-color: #006ef5;
  text-transform: capitalize;
}
.btn:hover {
  background-color: #007;
  cursor: pointer;
}

/* responsive code for contact form */
@media (min-width: 320px) and (max-width: 460px) {
  .contactWrapper {
    /* border: 2px solid red; */
    width: calc(100% - 30px);
    flex-direction: column;
    gap: 2rem;
  }

  .contactForm {
    width: 100%;
  }

  .formInputGroup {
    flex-direction: column;
    width: 100%;
    margin-bottom: 2.5rem;
  }
}

/* Donation styling*/
.secTwo {
  padding-block: 8rem;
}
.donationWrapper {
  display: flex;
  gap: 5rem;
}

.donationContent {
  flex: 1;
  border-top: 4px solid #006ef5;
  padding-block: 2rem;
}

.donationContent > h1 {
  text-transform: capitalize;
}

.donationForm {
  flex: 1;
}
.donationForm > h2 {
  text-transform: capitalize;
  font-size: 20px;
}

.inputWrapper {
  display: flex;
  gap: 2rem;
}

.inputCont {
  flex: 1;
  margin-bottom: 1rem;
}
.inputCont > label {
  font-size: 14px;
  font-weight: normal;
  color: #5b6671;
  text-transform: capitalize;
}

.inputCont > input {
  outline: none;
  border: 1px solid rgb(222 226 230);
  border-radius: 4px;
  width: 100%;
  padding: 0.6rem;
}
.inputCont > input::placeholder {
  opacity: 0.4;
}

.formBtn {
  width: 150px;
  height: 40px;
  text-transform: capitalize;
  font-weight: 600;
  color: #fff;
  border: none;
  font-size: 12px;
  background-color: #fff;
  border: 2px solid #228ae6;
}
.formBtn > img:hover {
  cursor: pointer;
  box-shadow: 0.2rem 0.2rem 5px #228ae6;
}

.formBtn > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* responsive code for Donation */
@media (min-width: 320px) and (max-width: 460px) {
  .donationWrapper{
    width: calc(100% - 30px);
    flex-direction: column;
  }

  .donationForm > h2{
    margin-bottom: 1rem;
  }

  .inputWrapper {
    flex-direction: column;
  }
}


/* this is the footer styling */

.footerWrapper {
  padding-block: 2rem;
  background-color: #007;
}

.footerLogo {
  display: flex;
  align-items: center;
}

.footerLogo > img {
  width: 100px;
}

.footerLogo > h2 {
  color: #fff;
  font-size: 18px;
}

.footGrid {
  border-bottom: 1px solid white;
  display: flex;
  padding-block: 2rem;
}

.footCard {
  width: 50%;
  padding-inline: 2rem;
}

.footCard:nth-child(2) {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.footCard > ul {
  display: inline-block;
}

.footCard > ul > li {
  list-style: none;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 20px;
  border-bottom: 2px solid yellow;
  text-transform: capitalize;
}

.phone {
  width: 250px;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 20px;
}
.phone > p {
  color: #fff;
}

.footerIcon {
  display: flex;
  gap: 10px;
}
.footerIcon > span {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 0.6rem 0.4rem;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .footerIcon > span:hover {
  background-color: #fff;
  border: none;
  color: #007;
} */

.footCard > h2 {
  text-transform: capitalize;
  color: #fff;
}
.footCard > p {
  margin-block: 1rem;
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
}
.search {
  display: flex;
  justify-content: space-between;
}
.search > input {
  width: 70%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.search > button {
  border-radius: 5px;
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: yellow;
  border: none;
  font-weight: 600;
}
.bottomFoot {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.buttomCont > p {
  margin-top: 25px;
  color: #fff;
  font-size: 16px;
}

@media (min-width: 320px) and (max-width: 460px) {
  .footGrid {
    flex-direction: column;
    padding-inline: 2rem;
    gap: 2rem;
  }

  .footCard {
    width: 100%;
    padding: 0;
  }

  .footerLogo{
    margin-left: -2rem;
  }

  .phone{
    width: 300px;
  }

  .footCard:nth-child(2) {
    padding-block: 1rem;
    border-right: none;
    border-left: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .bottomFoot{
    flex-direction: column;
    padding-inline: 2rem;
  }
}
